{% extends "base.html" %} {% block content %}
<div id="c7073c58fcc95d627b3096b186bfd13d" class="ww-informers-box-854753"><p class="ww-informers-box-854754"><a
        href="https://world-weather.ru/pogoda/russia/moscow/7days/">Прогноз погоды в Москве на неделю</a><br><a
        href="https://world-weather.ru/pogoda/russia/kurgan/">https://world-weather.ru/pogoda/russia/kurgan/</a></p>
</div>
<script async type="text/javascript" charset="utf-8"
        src="https://world-weather.ru/wwinformer.php?userid=c7073c58fcc95d627b3096b186bfd13d"></script>
<style>
    .ww-informers-box-854754{-webkit-animation-name:ww-informers54;animation-name:ww-informers54;-webkit-animation-duration:1.5s;animation-duration:1.5s;white-space:nowrap;overflow:hidden;-o-text-overflow:ellipsis;text-overflow:ellipsis;font-size:12px;font-family:Arial;line-height:18px;text-align:center}@-webkit-keyframes ww-informers54{0%,80%{opacity:0}100%{opacity:1}}@keyframes ww-informers54{0%,80%{opacity:0}100%{opacity:1}}
</style>
{% endblock %}